<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aac.cos.entity.sys.mapper.NmsArpriceMapper">
  <resultMap id="BaseResultMap" type="com.aac.cos.entity.sys.NmsArprice">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="serid" jdbcType="BIGINT" property="serid" />
    <result column="sercate" jdbcType="TINYINT" property="sercate" />
    <result column="sertype" jdbcType="TINYINT" property="sertype" />
    <result column="standar" jdbcType="TINYINT" property="standar" />
    <result column="refnum" jdbcType="VARCHAR" property="refnum" />
    <result column="price" jdbcType="VARCHAR" property="price" />
    <result column="beginprice" jdbcType="VARCHAR" property="beginprice" />
    <result column="btime" jdbcType="VARCHAR" property="btime" />
    <result column="etime" jdbcType="VARCHAR" property="etime" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, serid, sercate, sertype, standar, refnum, price, beginprice, btime, etime, note, 
    create_by, create_date, update_by, update_date, del_flag
  </sql>
  <select id="selectByExample" parameterType="com.aac.cos.entity.sys.NmsArpriceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from nms_arprice
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from nms_arprice
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from nms_arprice
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.aac.cos.entity.sys.NmsArpriceExample">
    delete from nms_arprice
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.aac.cos.entity.sys.NmsArprice">
    insert into nms_arprice (id, serid, sercate, 
      sertype, standar, refnum, 
      price, beginprice, btime, 
      etime, note, create_by, 
      create_date, update_by, update_date, 
      del_flag)
    values (#{id,jdbcType=BIGINT}, #{serid,jdbcType=BIGINT}, #{sercate,jdbcType=TINYINT}, 
      #{sertype,jdbcType=TINYINT}, #{standar,jdbcType=TINYINT}, #{refnum,jdbcType=VARCHAR}, 
      #{price,jdbcType=VARCHAR}, #{beginprice,jdbcType=VARCHAR}, #{btime,jdbcType=VARCHAR}, 
      #{etime,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, #{createBy,jdbcType=BIGINT}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=BIGINT}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{delFlag,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.aac.cos.entity.sys.NmsArprice">
    insert into nms_arprice
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="serid != null">
        serid,
      </if>
      <if test="sercate != null">
        sercate,
      </if>
      <if test="sertype != null">
        sertype,
      </if>
      <if test="standar != null">
        standar,
      </if>
      <if test="refnum != null">
        refnum,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="beginprice != null">
        beginprice,
      </if>
      <if test="btime != null">
        btime,
      </if>
      <if test="etime != null">
        etime,
      </if>
      <if test="note != null">
        note,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="serid != null">
        #{serid,jdbcType=BIGINT},
      </if>
      <if test="sercate != null">
        #{sercate,jdbcType=TINYINT},
      </if>
      <if test="sertype != null">
        #{sertype,jdbcType=TINYINT},
      </if>
      <if test="standar != null">
        #{standar,jdbcType=TINYINT},
      </if>
      <if test="refnum != null">
        #{refnum,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="beginprice != null">
        #{beginprice,jdbcType=VARCHAR},
      </if>
      <if test="btime != null">
        #{btime,jdbcType=VARCHAR},
      </if>
      <if test="etime != null">
        #{etime,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.aac.cos.entity.sys.NmsArpriceExample" resultType="java.lang.Integer">
    select count(*) from nms_arprice
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update nms_arprice
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.serid != null">
        serid = #{record.serid,jdbcType=BIGINT},
      </if>
      <if test="record.sercate != null">
        sercate = #{record.sercate,jdbcType=TINYINT},
      </if>
      <if test="record.sertype != null">
        sertype = #{record.sertype,jdbcType=TINYINT},
      </if>
      <if test="record.standar != null">
        standar = #{record.standar,jdbcType=TINYINT},
      </if>
      <if test="record.refnum != null">
        refnum = #{record.refnum,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=VARCHAR},
      </if>
      <if test="record.beginprice != null">
        beginprice = #{record.beginprice,jdbcType=VARCHAR},
      </if>
      <if test="record.btime != null">
        btime = #{record.btime,jdbcType=VARCHAR},
      </if>
      <if test="record.etime != null">
        etime = #{record.etime,jdbcType=VARCHAR},
      </if>
      <if test="record.note != null">
        note = #{record.note,jdbcType=VARCHAR},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null">
        update_by = #{record.updateBy,jdbcType=BIGINT},
      </if>
      <if test="record.updateDate != null">
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.delFlag != null">
        del_flag = #{record.delFlag,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update nms_arprice
    set id = #{record.id,jdbcType=BIGINT},
      serid = #{record.serid,jdbcType=BIGINT},
      sercate = #{record.sercate,jdbcType=TINYINT},
      sertype = #{record.sertype,jdbcType=TINYINT},
      standar = #{record.standar,jdbcType=TINYINT},
      refnum = #{record.refnum,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=VARCHAR},
      beginprice = #{record.beginprice,jdbcType=VARCHAR},
      btime = #{record.btime,jdbcType=VARCHAR},
      etime = #{record.etime,jdbcType=VARCHAR},
      note = #{record.note,jdbcType=VARCHAR},
      create_by = #{record.createBy,jdbcType=BIGINT},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=BIGINT},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      del_flag = #{record.delFlag,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.aac.cos.entity.sys.NmsArprice">
    update nms_arprice
    <set>
      <if test="serid != null">
        serid = #{serid,jdbcType=BIGINT},
      </if>
      <if test="sercate != null">
        sercate = #{sercate,jdbcType=TINYINT},
      </if>
      <if test="sertype != null">
        sertype = #{sertype,jdbcType=TINYINT},
      </if>
      <if test="standar != null">
        standar = #{standar,jdbcType=TINYINT},
      </if>
      <if test="refnum != null">
        refnum = #{refnum,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=VARCHAR},
      </if>
      <if test="beginprice != null">
        beginprice = #{beginprice,jdbcType=VARCHAR},
      </if>
      <if test="btime != null">
        btime = #{btime,jdbcType=VARCHAR},
      </if>
      <if test="etime != null">
        etime = #{etime,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aac.cos.entity.sys.NmsArprice">
    update nms_arprice
    set serid = #{serid,jdbcType=BIGINT},
      sercate = #{sercate,jdbcType=TINYINT},
      sertype = #{sertype,jdbcType=TINYINT},
      standar = #{standar,jdbcType=TINYINT},
      refnum = #{refnum,jdbcType=VARCHAR},
      price = #{price,jdbcType=VARCHAR},
      beginprice = #{beginprice,jdbcType=VARCHAR},
      btime = #{btime,jdbcType=VARCHAR},
      etime = #{etime,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=BIGINT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=BIGINT},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.aac.cos.entity.sys.NmsArprice">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="serid" jdbcType="BIGINT" property="serid" />
    <result column="sercate" jdbcType="TINYINT" property="sercate" />
    <result column="sertype" jdbcType="TINYINT" property="sertype" />
    <result column="standar" jdbcType="TINYINT" property="standar" />
    <result column="refnum" jdbcType="VARCHAR" property="refnum" />
    <result column="price" jdbcType="VARCHAR" property="price" />
    <result column="beginprice" jdbcType="VARCHAR" property="beginprice" />
    <result column="btime" jdbcType="VARCHAR" property="btime" />
    <result column="etime" jdbcType="VARCHAR" property="etime" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, serid, sercate, sertype, standar, refnum, price, beginprice, btime, etime, note, 
    create_by, create_date, update_by, update_date, del_flag
  </sql>
  <select id="selectByExample" parameterType="com.aac.cos.entity.sys.NmsArpriceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from nms_arprice
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from nms_arprice
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from nms_arprice
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.aac.cos.entity.sys.NmsArpriceExample">
    delete from nms_arprice
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.aac.cos.entity.sys.NmsArprice">
    insert into nms_arprice (id, serid, sercate, 
      sertype, standar, refnum, 
      price, beginprice, btime, 
      etime, note, create_by, 
      create_date, update_by, update_date, 
      del_flag)
    values (#{id,jdbcType=BIGINT}, #{serid,jdbcType=BIGINT}, #{sercate,jdbcType=TINYINT}, 
      #{sertype,jdbcType=TINYINT}, #{standar,jdbcType=TINYINT}, #{refnum,jdbcType=VARCHAR}, 
      #{price,jdbcType=VARCHAR}, #{beginprice,jdbcType=VARCHAR}, #{btime,jdbcType=VARCHAR}, 
      #{etime,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, #{createBy,jdbcType=BIGINT}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=BIGINT}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{delFlag,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.aac.cos.entity.sys.NmsArprice">
    insert into nms_arprice
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="serid != null">
        serid,
      </if>
      <if test="sercate != null">
        sercate,
      </if>
      <if test="sertype != null">
        sertype,
      </if>
      <if test="standar != null">
        standar,
      </if>
      <if test="refnum != null">
        refnum,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="beginprice != null">
        beginprice,
      </if>
      <if test="btime != null">
        btime,
      </if>
      <if test="etime != null">
        etime,
      </if>
      <if test="note != null">
        note,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="serid != null">
        #{serid,jdbcType=BIGINT},
      </if>
      <if test="sercate != null">
        #{sercate,jdbcType=TINYINT},
      </if>
      <if test="sertype != null">
        #{sertype,jdbcType=TINYINT},
      </if>
      <if test="standar != null">
        #{standar,jdbcType=TINYINT},
      </if>
      <if test="refnum != null">
        #{refnum,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="beginprice != null">
        #{beginprice,jdbcType=VARCHAR},
      </if>
      <if test="btime != null">
        #{btime,jdbcType=VARCHAR},
      </if>
      <if test="etime != null">
        #{etime,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.aac.cos.entity.sys.NmsArpriceExample" resultType="java.lang.Integer">
    select count(*) from nms_arprice
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update nms_arprice
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.serid != null">
        serid = #{record.serid,jdbcType=BIGINT},
      </if>
      <if test="record.sercate != null">
        sercate = #{record.sercate,jdbcType=TINYINT},
      </if>
      <if test="record.sertype != null">
        sertype = #{record.sertype,jdbcType=TINYINT},
      </if>
      <if test="record.standar != null">
        standar = #{record.standar,jdbcType=TINYINT},
      </if>
      <if test="record.refnum != null">
        refnum = #{record.refnum,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=VARCHAR},
      </if>
      <if test="record.beginprice != null">
        beginprice = #{record.beginprice,jdbcType=VARCHAR},
      </if>
      <if test="record.btime != null">
        btime = #{record.btime,jdbcType=VARCHAR},
      </if>
      <if test="record.etime != null">
        etime = #{record.etime,jdbcType=VARCHAR},
      </if>
      <if test="record.note != null">
        note = #{record.note,jdbcType=VARCHAR},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null">
        update_by = #{record.updateBy,jdbcType=BIGINT},
      </if>
      <if test="record.updateDate != null">
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.delFlag != null">
        del_flag = #{record.delFlag,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update nms_arprice
    set id = #{record.id,jdbcType=BIGINT},
      serid = #{record.serid,jdbcType=BIGINT},
      sercate = #{record.sercate,jdbcType=TINYINT},
      sertype = #{record.sertype,jdbcType=TINYINT},
      standar = #{record.standar,jdbcType=TINYINT},
      refnum = #{record.refnum,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=VARCHAR},
      beginprice = #{record.beginprice,jdbcType=VARCHAR},
      btime = #{record.btime,jdbcType=VARCHAR},
      etime = #{record.etime,jdbcType=VARCHAR},
      note = #{record.note,jdbcType=VARCHAR},
      create_by = #{record.createBy,jdbcType=BIGINT},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=BIGINT},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      del_flag = #{record.delFlag,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.aac.cos.entity.sys.NmsArprice">
    update nms_arprice
    <set>
      <if test="serid != null">
        serid = #{serid,jdbcType=BIGINT},
      </if>
      <if test="sercate != null">
        sercate = #{sercate,jdbcType=TINYINT},
      </if>
      <if test="sertype != null">
        sertype = #{sertype,jdbcType=TINYINT},
      </if>
      <if test="standar != null">
        standar = #{standar,jdbcType=TINYINT},
      </if>
      <if test="refnum != null">
        refnum = #{refnum,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=VARCHAR},
      </if>
      <if test="beginprice != null">
        beginprice = #{beginprice,jdbcType=VARCHAR},
      </if>
      <if test="btime != null">
        btime = #{btime,jdbcType=VARCHAR},
      </if>
      <if test="etime != null">
        etime = #{etime,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aac.cos.entity.sys.NmsArprice">
    update nms_arprice
    set serid = #{serid,jdbcType=BIGINT},
      sercate = #{sercate,jdbcType=TINYINT},
      sertype = #{sertype,jdbcType=TINYINT},
      standar = #{standar,jdbcType=TINYINT},
      refnum = #{refnum,jdbcType=VARCHAR},
      price = #{price,jdbcType=VARCHAR},
      beginprice = #{beginprice,jdbcType=VARCHAR},
      btime = #{btime,jdbcType=VARCHAR},
      etime = #{etime,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=BIGINT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=BIGINT},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.aac.cos.entity.sys.NmsArprice">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="serid" jdbcType="BIGINT" property="serid" />
    <result column="sercate" jdbcType="TINYINT" property="sercate" />
    <result column="sertype" jdbcType="TINYINT" property="sertype" />
    <result column="standar" jdbcType="TINYINT" property="standar" />
    <result column="refnum" jdbcType="VARCHAR" property="refnum" />
    <result column="price" jdbcType="VARCHAR" property="price" />
    <result column="beginprice" jdbcType="VARCHAR" property="beginprice" />
    <result column="btime" jdbcType="VARCHAR" property="btime" />
    <result column="etime" jdbcType="VARCHAR" property="etime" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, serid, sercate, sertype, standar, refnum, price, beginprice, btime, etime, note, 
    create_by, create_date, update_by, update_date, del_flag
  </sql>
  <select id="selectByExample" parameterType="com.aac.cos.entity.sys.NmsArpriceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from nms_arprice
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from nms_arprice
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from nms_arprice
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.aac.cos.entity.sys.NmsArpriceExample">
    delete from nms_arprice
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.aac.cos.entity.sys.NmsArprice">
    insert into nms_arprice (id, serid, sercate, 
      sertype, standar, refnum, 
      price, beginprice, btime, 
      etime, note, create_by, 
      create_date, update_by, update_date, 
      del_flag)
    values (#{id,jdbcType=BIGINT}, #{serid,jdbcType=BIGINT}, #{sercate,jdbcType=TINYINT}, 
      #{sertype,jdbcType=TINYINT}, #{standar,jdbcType=TINYINT}, #{refnum,jdbcType=VARCHAR}, 
      #{price,jdbcType=VARCHAR}, #{beginprice,jdbcType=VARCHAR}, #{btime,jdbcType=VARCHAR}, 
      #{etime,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, #{createBy,jdbcType=BIGINT}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=BIGINT}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{delFlag,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.aac.cos.entity.sys.NmsArprice">
    insert into nms_arprice
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="serid != null">
        serid,
      </if>
      <if test="sercate != null">
        sercate,
      </if>
      <if test="sertype != null">
        sertype,
      </if>
      <if test="standar != null">
        standar,
      </if>
      <if test="refnum != null">
        refnum,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="beginprice != null">
        beginprice,
      </if>
      <if test="btime != null">
        btime,
      </if>
      <if test="etime != null">
        etime,
      </if>
      <if test="note != null">
        note,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="serid != null">
        #{serid,jdbcType=BIGINT},
      </if>
      <if test="sercate != null">
        #{sercate,jdbcType=TINYINT},
      </if>
      <if test="sertype != null">
        #{sertype,jdbcType=TINYINT},
      </if>
      <if test="standar != null">
        #{standar,jdbcType=TINYINT},
      </if>
      <if test="refnum != null">
        #{refnum,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="beginprice != null">
        #{beginprice,jdbcType=VARCHAR},
      </if>
      <if test="btime != null">
        #{btime,jdbcType=VARCHAR},
      </if>
      <if test="etime != null">
        #{etime,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.aac.cos.entity.sys.NmsArpriceExample" resultType="java.lang.Integer">
    select count(*) from nms_arprice
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update nms_arprice
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.serid != null">
        serid = #{record.serid,jdbcType=BIGINT},
      </if>
      <if test="record.sercate != null">
        sercate = #{record.sercate,jdbcType=TINYINT},
      </if>
      <if test="record.sertype != null">
        sertype = #{record.sertype,jdbcType=TINYINT},
      </if>
      <if test="record.standar != null">
        standar = #{record.standar,jdbcType=TINYINT},
      </if>
      <if test="record.refnum != null">
        refnum = #{record.refnum,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=VARCHAR},
      </if>
      <if test="record.beginprice != null">
        beginprice = #{record.beginprice,jdbcType=VARCHAR},
      </if>
      <if test="record.btime != null">
        btime = #{record.btime,jdbcType=VARCHAR},
      </if>
      <if test="record.etime != null">
        etime = #{record.etime,jdbcType=VARCHAR},
      </if>
      <if test="record.note != null">
        note = #{record.note,jdbcType=VARCHAR},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null">
        update_by = #{record.updateBy,jdbcType=BIGINT},
      </if>
      <if test="record.updateDate != null">
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.delFlag != null">
        del_flag = #{record.delFlag,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update nms_arprice
    set id = #{record.id,jdbcType=BIGINT},
      serid = #{record.serid,jdbcType=BIGINT},
      sercate = #{record.sercate,jdbcType=TINYINT},
      sertype = #{record.sertype,jdbcType=TINYINT},
      standar = #{record.standar,jdbcType=TINYINT},
      refnum = #{record.refnum,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=VARCHAR},
      beginprice = #{record.beginprice,jdbcType=VARCHAR},
      btime = #{record.btime,jdbcType=VARCHAR},
      etime = #{record.etime,jdbcType=VARCHAR},
      note = #{record.note,jdbcType=VARCHAR},
      create_by = #{record.createBy,jdbcType=BIGINT},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=BIGINT},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      del_flag = #{record.delFlag,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.aac.cos.entity.sys.NmsArprice">
    update nms_arprice
    <set>
      <if test="serid != null">
        serid = #{serid,jdbcType=BIGINT},
      </if>
      <if test="sercate != null">
        sercate = #{sercate,jdbcType=TINYINT},
      </if>
      <if test="sertype != null">
        sertype = #{sertype,jdbcType=TINYINT},
      </if>
      <if test="standar != null">
        standar = #{standar,jdbcType=TINYINT},
      </if>
      <if test="refnum != null">
        refnum = #{refnum,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=VARCHAR},
      </if>
      <if test="beginprice != null">
        beginprice = #{beginprice,jdbcType=VARCHAR},
      </if>
      <if test="btime != null">
        btime = #{btime,jdbcType=VARCHAR},
      </if>
      <if test="etime != null">
        etime = #{etime,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aac.cos.entity.sys.NmsArprice">
    update nms_arprice
    set serid = #{serid,jdbcType=BIGINT},
      sercate = #{sercate,jdbcType=TINYINT},
      sertype = #{sertype,jdbcType=TINYINT},
      standar = #{standar,jdbcType=TINYINT},
      refnum = #{refnum,jdbcType=VARCHAR},
      price = #{price,jdbcType=VARCHAR},
      beginprice = #{beginprice,jdbcType=VARCHAR},
      btime = #{btime,jdbcType=VARCHAR},
      etime = #{etime,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=BIGINT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=BIGINT},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>